@model PlayerSquadViewModel

<div class="layout-px-spacing">
    <div class="middle-content container-xxl p-0">
        <div class="row layout-spacing ">
            <div class="col-4"></div>
            <div class="col-4 layout-top-spacing">
                <div class="user-profile">
                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-center text-center">
                            <h3>Player Information</h3>
                        </div>
                        <div class="text-center user-info">
                            <img src="~/src/assets/img/profile-1.jpeg" alt="avatar">
                            <p >@Model.FirstName @Model.LastName</p>
                            <p>@Model.Position</p>
                        </div>
                        <div class="user-info-list">
                            <div class="">
                                <ul class="contacts-block list-unstyled">
                                    <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                            <line x1="16" y1="2" x2="16" y2="6"></line>
                                            <line x1="8" y1="2" x2="8" y2="6"></line>
                                            <line x1="3" y1="10" x2="21" y2="10"></line>
                                        </svg>
                                        @Model.DateOfBirth
                                    </li>
                                    <li class="contacts-block__item">
                                        <i class="fa-solid fa-money-bill-wave fa-2xl"></i>
                                        @Model.Salary
                                    </li>
                                    <li class="contacts-block__item">
                                        <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
                                        @Model.Price
                                    </li>
                                     <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="30" height="30">
                                            <circle cx="50" cy="50" r="40" fill="none" stroke="currentColor" stroke-width="5" />
                                            <text x="50%" y="50%" fill="currentColor" font-family="Arial" font-size="70" text-anchor="middle" alignment-baseline="central">G</text>
                                        </svg>
                                        @Model.GoalScored
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="30" height="30">
                                            <circle cx="50" cy="50" r="40" fill="none" stroke="currentColor" stroke-width="5" />
                                            <text x="50%" y="50%" fill="currentColor" font-family="Arial" font-size="70" text-anchor="middle" alignment-baseline="central">A</text>
                                        </svg>
                                        @Model.GoalAssited
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>