@model MatchDetailsViewModel

<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card justify-content-start" style="margin-top: 30px;">
                <div class="row" style="text-align: center;">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="square-image-container col-12">
                            <h5>@Model.HomeTeamName</h5>
                            <img src="~/photos/default.jpg" class="square-image" alt="First Image">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="row">
                            <p>@Model.DateAndTime</p>
                        </div>
                        <div class="row">
                            <h1>@Model.HomeScore - @Model.AwayScore</h1>
                        </div>
                        <div class="row">
                            <p>@Model.Status</p>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="square-image-container col-12">
                            <h5>@Model.AwayTeamName</h5>
                            <img src="~/photos/default.jpg" class="square-image" alt="Second Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
