@model LeagueMatchesViewModel

<div class="layout-px-spacing">
    <div class="middle-content container-xxl p-0">
        <div class="seperator-header layout-top-spacing d-flex justify-content-between align-items-center">
            <h4>@Model.LeagueName Table</h4>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <form asp-area="Admin" asp-action="Edit" asp-controller="League" method="get" class="d-inline">
                        <input type="hidden" asp-for="LeagueId" />
                        <button type="submit" class="btn btn-outline-primary me-4">Edit League</button>
                    </form>

                    <form asp-area="Admin" asp-action="Delete" asp-controller="League" method="get" class="d-inline">
                        <input type="hidden" asp-for="LeagueId" />
                        <button type="submit" class="btn btn-outline-danger me-4">Delete League</button>
                    </form>
                </div>
            }
        </div>
        <div class="row layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content widget-content-area">
                        <div id="individual-col-search1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <table id="individual-col-search1" class="table dt-table-hover dataTable" role="grid" aria-describedby="individual-col-search_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center sorting_asc" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 5%;">Position</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 15%;">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 5%;">Match Played</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 5%;">Wins</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 5%;">Draws</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 5%;">Losses</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 5%;">Goals</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 5%;">GD</th>
                                        <th class="sorting" tabindex="0" aria-controls="individual-col-search1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 5%;">Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Teams.Count(); i++)
                                    {
                                        var team = Model.Teams.ElementAt(i);
                                        <tr role="row">
                                            <td class="text-center sorting_1">@(i + 1)</td>
                                            <td>
                                                <div>
                                                    <a asp-area="User" asp-action="Index" asp-controller="Team" asp-route-teamId="@team.Id">
                                                        <img src="@team.Logo" alt="LOGO" class="team-logo">
                                                        @team.Name
                                                    </a>
                                                </div>
                                            </td>
                                            <td>@(team.Wins + team.Draws + team.Losses)</td>
                                            <td>@team.Wins</td>
                                            <td>@team.Draws</td>
                                            <td>@team.Losses</td>
                                            <td>@team.GoalsFor:@team.GoalsAgainst</td>
                                            <td>@(team.GoalsFor - @team.GoalsAgainst)</td>
                                            <td>@team.Points</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-width: 66%; margin-left: auto; margin-right: auto;">
            <div class="row layout-top-spacing">
                <div class="col-md-8 col-sm-6" style="margin-top: 50px;">
                    <div class="seperator-header">
                        <h4>@Model.LeagueName Matches</h4>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-4 col-sm-6" style="margin-top: 50px; text-align: right;">
                        <form asp-area="Admin" asp-action="Create" asp-controller="Match" method="get">
                            <input type="hidden" asp-for="@Model.LeagueId" />

                            <button type="submit" class="btn btn-outline-success mb-2 me-4">
                                <span class="btn-text-inner">Create Match</span>
                            </button>

                        </form>
                    </div>
                }
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="row layout-spacing">
                <div class="col-lg-12">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-content widget-content-area">
                            <div id="individual-col-search2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <table id="individual-col-search2" class="table dt-table-hover dataTable" role="grid" aria-describedby="individual-col-search_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="individual-col-search2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 50.0938px;">Date & Time</th>
                                            <th tabindex="0" aria-controls="individual-col-search2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 250.203px;">Teams</th>
                                            <th tabindex="0" aria-controls="individual-col-search2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 250.203px;">Status</th>
                                            <th tabindex="0" aria-controls="individual-col-search2" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50.266px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var match in Model.Matches)
                                        {
                                            <tr role="row">
                                                <td>@match.DateAndTime</td>
                                                <td>
                                                    <a asp-action="Index" asp-controller="Match" asp-route-matchId="@match.Id">
                                                        @match.HomeTeamName VS @match.AwayTeamName
                                                    </a>
                                                </td>
                                                <td>@match.MatchStatus</td>
                                                <td>
                                                    <div class="action-icons-container" style="display: flex; align-items: center; justify-content: start;">
                                                        <a asp-action="Index" asp-controller="Match" asp-route-MatchId="@match.Id" title="View match details">
                                                            <i class="fa-solid fa-eye fa-xl" style="color: #858585;"></i>
                                                        </a>
                                                        @if (!match.IsFavorite)
                                                        {
                                                            <form asp-area="User" asp-action="AddFavorite" asp-controller="Match" asp-route-matchId="@match.Id" method="post" style="margin-left: 10px;">
                                                                <button type="submit" title="Add to favorites" style="background:none;border:none;padding:0;">
                                                                    <i class="fa-regular fa-star fa-xl" style="color: #1eff00;"></i>
                                                                </button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form asp-area="User" asp-action="RemoveFavorite" asp-controller="Match" asp-route-matchId="@match.Id" method="post" style="margin-left: 10px;">
                                                                <button type="submit" title="Remove from favorites" style="background:none;border:none;padding:0;">
                                                                    <i class="fa-solid fa-star fa-xl" style="color: #1eff00;"></i>
                                                                </button>
                                                            </form>
                                                        }
                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <a asp-area="Admin" asp-action="Edit" asp-controller="Match" asp-route-MatchId="@match.Id" title="Edit match" style="margin-left: 10px;">
                                                                <i class="fa-solid fa-pencil fa-xl" style="color: #FFD43B;"></i>
                                                            </a>
                                                            <a asp-area="Admin" asp-action="Delete" asp-controller="Match" asp-route-MatchId="@match.Id" title="Delete match" style="margin-left: 10px;">
                                                                <i class="fa-regular fa-trash-can fa-xl" style="color: #ff0000;"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>