@model TeamDetailedViewModel

@{
    var currentAction = ViewContext?.RouteData?.Values["action"]?.ToString();
}


<div class="container-xl col-12 col-md-6">
    <div class="mb-4">
        <form asp-action="Edit" asp-controller="Team" method="get" class="d-inline">
            <input type="hidden" name="teamId" asp-for="@Model.TeamId" />
            <button type="submit" class="btn btn-outline-primary me-4">Edit Team</button>
        </form>
        <form asp-action="Delete" asp-controller="Team" method="get" class="d-inline">
            <input type="hidden" name="teamId" asp-for="@Model.TeamId" />
            <button type="submit" class="btn btn-outline-danger me-4">Delete Team</button>
        </form>
    </div>
    <div class="card style-3">
        <img src="@Model.LogoURL" class="card-img-top" alt="LOGO" style="width: 200px; height: 200px; object-fit: fill;">
        <div class="card-body px-0 py-0 align-self-center">
            <h5 class="card-title mb-3">@Model.Name</h5>
            <p class="card-category mb-1">@Model.Founded</p>
            <div class="media mt-4 mb-0 pt-1">
                <div class="media-body">
                    <h4 class="media-heading mb-1">Coach</h4>
                    <p class="media-text">@Model.Coach</p>
                </div>
            </div>
        </div>
        <div class="card-body px-0 py-0 align-self-center" style="text-align: right;">
            <div class="d-inline-block text-start">
                <a asp-action="Fixtures" asp-controller="Team" asp-route-id="@Model.TeamId"
                   class="btn btn-outline-primary mb-2 d-block w-100 @(currentAction == "Fixtures" ? "active" : "")"
                   id="btnFixtures">Fixtures</a>
                <a asp-action="Results" asp-controller="Team" asp-route-id="@Model.TeamId"
                   class="btn btn-outline-primary mb-2 d-block w-100 @(currentAction == "Results" ? "active" : "")"
                   id="btnResults">Results</a>
                <a asp-action="Squad" asp-controller="Team" asp-route-id="@Model.TeamId"
                   class="btn btn-outline-primary mb-2 d-block w-100 @(currentAction == "Squad" ? "active" : "")"
                   id="btnSquad">Squad</a>
            </div>
        </div>
    </div>
</div>